/* CSS Document */
/* Defaults */
body, div, p, h1, h2, h3, h4, h5, h6, ul, li, form, input, img {
	margin:0;
	padding:0;
	}
img {border:none}

span.b {
	font-weight:bold;
}

a {text-decoration:underline; color:#0044cc; font-weight:bold}
a:hover {text-decoration:none;}

html {
	overflow-y: scroll;
}

body.iframe {
	background-color:#FFFFFF;
	text-align:center;
	font-family:"Arial", "Verdana", "Helvetica", sans-serif;
	font-size:100%;
}

#contentIframe, #contentIframeRef {
	width:600px;
	margin:20px auto 10px;
	text-align:left;
	padding:10px;
	border: 1px solid #CCC;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	box-shadow:0 1px 1px #b0b0b0;
	background-color:#F3F3F3;
	overflow:hidden;
}

#contentIframeRef {
    width: 390px;
    text-align: center;
}

#main {
	padding:10px;
}

h1 {
	font-size:17px;
	text-align:center;
	font-weight:bold;
	color:#3E8F42;
	padding-bottom:15px;
}

h2 {
	font-size:15px;
	text-align:center;
	font-weight:bold;
	padding:10px 0;
}

p {
	font-size:12px;
}

p.label {
    clear: left;
    float: left;
    width: 120px;
    font-weight: bold;
    margin-bottom: 8px;
}

p.info {
    margin-left: 120px;
    margin-bottom: 8px;
}

p.subInfo {
    margin-bottom: 5px;
}

.textInput {
	padding:0 0 20px 0;
	text-align:center;
}

.textInput div {
    padding: 4px 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.textInput p {
	padding:0;
}

.textInput label {
	width: 55px;
    text-align: right;
    padding-right: 4px;
    font-size: 12px;
    display: inline-block;
}

.textInput label.mid {
    width: 15px;
}

.textInput label.ip {
    vertical-align: top;
    padding-top: 2px;
}

.textInput input[type="text"] {
	padding:3px;
	border:1px solid #848484;
	width:300px;
}

.textInput input[type="text"].ipText {
    width: 110px;
    display: inline-block;
}

textarea#select {
	padding:3px;
	border:1px solid #848484;
	width:300px;
    height: 50px;
}

textarea#selectIp {
	padding:3px;
	border:1px solid #848484;
	width:257px;
    height: 50px;
}

.selectBox {
	float:left;
	width:290px;
}

.selectedBox {
	float:right;
	width:290px;
	text-align:right;
}

.selectedBoxRef {
    float:none;
    margin-bottom: 10px;
}

.selectedBoxRef p {
    padding: 3px 0;
}

.submitBox,
.selectBox div,
.selectedBox div {
	text-align:center;
}

.submitBox {
	clear:both;
}

.selectBox p {
	font-weight:bold;
	text-align:left;
	padding:0 0 2px 3px;
}

.selectedBox p {
	font-weight:bold;
	text-align:left;
	padding:0 0 2px 16px;
}

.selectCriteria, .selectCriteriaRef {
	width:275px;
	font-size:12px;
	line-height:13px;
	height:200px;
	text-align:left;
}

.selectCriteriaRef {
    width: 300px;
}

input.button {
	width:80px;
	padding:1px;
	margin:10px auto;
}

input.submit {
	width:100px;
	padding:1px;
	margin:10px auto;
}

#content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

p.saved {
	text-align:center;
	font-weight:bold;
	color:#3E8F42;
}

.submit_btn {
	padding:2px 7px;
}

p.checkingImg {
    margin: 10px auto;
	height: 100px;
	width: 100px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
    -webkit-mask-image: url(../images/spinner.png);
	background-color: #000;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}